{
	xtype: 'button',
    text: $ctx.J("submit"),
    id: 'submitbutton',
    handler: function() {
    	#if ($ctx.mobile)
    		var form = this.up('formpanel');
    	#else
    		var form = this.up('form').getForm();
    	#end
    	
    	#if ($ctx.mobile)
    		form.setMasked(true);
    	#end
    	form.submit(
    	{
    	
    		success: function(form, result) {
    					#if ($ctx.mobile)
    						form.setMasked(false);
    					#end
    					#if ($button.reload)
    					window.location.reload();
    					#else
                       form.reset();
                       #end
                    },
                    
        		failure: function(form, result) {
    					#if ($ctx.mobile)
    						form.setMasked(false);
    						var errors = result.errors;
								for(var attr in errors)
								{
									var field = attr;
									var problem= errors[attr];
									break;
								}
								Ext.Msg.alert(field, problem);
    					#end
 
                    },
                    
                  
    	}
    	);
    }
}